repair-service-JDBC/src/main/resources/Stax/xml/xsd/EmployeePost.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="EmployeePostType">
        <xs:choice>
            <xs:element name="position" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:long" use="optional"/>
    </xs:complexType>
    <xs:element name="EmployeePost" type ="EmployeePostType"/>
</xs:schema>